.grid-div {
    width: calc((100vh - 132px)*4/3 );
    margin: auto;
    margin-top: 4px;
}

img {
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
}

