<div class="blackjack-display">
    <h3>Dealer</h3>
    <img src="../../assets/img/blackjack/ace_of_clubs.png" alt="Card" width="100px" class="cardback">
    <img src="../../assets/img/blackjack/cardback.png" alt="Card" width="100px" class="cardback">

    <h3>Player</h3>
    <img src="../../assets/img/blackjack/ace_of_clubs.png" alt="Card" width="100px" class="cardback">
    <img src="../../assets/img/blackjack/ace_of_diamonds.png" alt="Card" width="100px" class="cardback">
    <br>
    <button mat-raised-button color="primary">Hit</button>
    <button mat-raised-button color="primary">Stand</button>
</div>