<div class="board">
    <div></div>
    <mat-grid-list cols="3" rowHeight="1:1">
    <mat-grid-tile> <button mat-button>2</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>3</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>4</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>5</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>6</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>7</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>8</button></mat-grid-tile>
    <mat-grid-tile> <button mat-button>9</button></mat-grid-tile>
    <mat-grid-tile>
        <img src="../../assets/img/tic-tac-toe/o.png" alt="" >
    </mat-grid-tile>
</mat-grid-list>

</div>
