.board {
    text-align: center;
    margin-top: 16px;
}

img {
    width: calc((100vh - 132px)/4 );
}

.mat-grid-tile {
    border: 1px rgba(0,0,0,.12) solid;
}

.board-row {
    display: inline-flex;
    // width: inherit;
    button {
        width: calc((100vh - 132px)/3 );
        height: calc((100vh - 132px)/3 );
        font-size: calc((100vh - 132px)/4 );
    }
}